subscription_id = ""
location        = "japaneast"
project_name    = "v2subscomb"
ghcr_image      = "ghcr.io/injectrl/v2subscombinator:latest"
jwt_secret      = "your-jwt-secret-key-at-least-32-characters"
custom_domain   = ""  # 可选，例如 "v2subs.yourdomain.com"
